.remove-pin-modal-container {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.remove-pin-modal-title {
    font-weight: normal;
    font-size: 30px;
    padding-left: 20px;
}


.remove-pin-modal-buttons > button {
    margin: 0px 5px;
    padding: 10px;
    font-size: 18px;
    border-radius: 30px;
    border: none
}

.remove-pin-modal-cancel {
    color: black;
}

.remove-pin-modal-cancel:hover {
    cursor: pointer;
    background-color: rgb(205, 205, 205);
}

.remove-pin-modal-confirm {
    color: white;
    background-color: rgb(255,0,121);
}

.remove-pin-modal-confirm:hover {
    cursor: pointer;
    background-color: rgb(218, 5, 105);
}
