.pins {
    column-count: 5;
    margin: 0em 1em;
    margin-top: 2em;
    column-gap: .5em;

}

.pin {
    margin-bottom: .5em;
    width: 100%;
    break-inside: avoid;


}

img {
    width: 100%;
}
@media screen and (max-width: 1200px) {
    .pins {
        column-count: 4;
    }
}

@media screen and (max-width: 1000px) {
    .pins {
        column-count: 3;
    }
}

@media screen and (max-width: 800px) {
    .pins {
        column-count: 2;
    }
}

@media screen and (max-width: 600px) {
    .pins {
        column-count: 1;
    }
}

.save-button {
    margin-bottom: 300px;
    margin-top: -20px
}
.save-button.saved {
    color: white;
    background-color: black;
}

.profile-overlay-text {
    cursor: pointer;
    position: relative;
    margin-right:115px
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 10;
}

.dropdown-menu button {
    background: none;
    border: none;
    padding: 8px;
    text-align: left;
    cursor: pointer;
    width: 100%;
}


.dropdown-menu button:hover {
    background-color: #f0f0f0;
}

.save-to-board-text {
    margin: 0;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: -20px;
}

.board-container {
    display:flex;
    flex-direction: column;
    gap: 5px;
}
