.sign-up-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25em;
    margin-top: 1em;
}

/* div #modal-content {
    padding: 1em;
    border-radius: 2em;
} */

.sign-up-form label {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 5px;
}

.sign-up-form input {
    /* border: 0.15em solid black;
    width: 20em;
    height: 2em;
    border-radius: 2em;
    margin-bottom: 0.5em;
    padding: 0.2em 0.5em; */
    border: 1px solid #D3D3D3;
    border-radius: 15px;
    padding: 15px 10px;
    width: 300px;
}

.signup-button {
    margin-top: 2em;
    width: 300px;
    padding-top: 40px;
}


.signup-modal input[type=text]:focus,
.signup-modal input[type=password]:focus{
  border: .18em solid #ff0079;
  outline: none;
}


.signup-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.signup-modal h5 {
  margin-left: .5em;
}

.signup-modalp {
    font-size: .7em;
    margin-bottom: 5em;
    font-weight: 600;
}

.to-login {
  margin-top: 1em;
  cursor: pointer;
}

.sign-up-form span {
  background-color: #CDCDCD;
  height: 1px;
  width: 70%;
  margin-top: 20px;
}
