/* TODO: Add sitewide styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* ^for setting default margin and paddings to zero since there is some weird pixels messing with them atm */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

body {
    background-image: url('../pinspire_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
