#profile-page-container {
    margin: 70px 10px
}

#profile-top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#profile-user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
#profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    background-color: lightgray;
    border-radius: 50%;
    color: black;
    font-size: 48px;
    font-weight: 550;
    margin: 5px
}

h1 {
    font-weight: 550;
    margin: 5px;
}

p {
    margin: 5px;
}

.profile-buttons > button{
    padding: 13px 15px;
    margin: 10px 5px;
    font-size: medium;
    font-weight: 550;
    border-radius: 25px;
    border-color: transparent;
    background-color: lightgray;
}

.old-profile-links {
    display: flex;
    margin: 20px 0px
}

.old-profile-links > div {
    margin: 0px 15px;
    border-bottom: 3px transparent solid;
    padding: 5px 5px;
    font-weight: 550;
}

.old-profile-links > div:hover{
    cursor: pointer;
}

.old-profile-links > div.active {
    border-bottom: 3px black solid;
}

/* .profile-bottom-container {
    display: flex;
    justify-content: center;
    width: 100%;
} */

.created-grid {
    column-count: 2;
    column-gap: 15px;
    width: 490px;
    margin: 15px auto;
}

.profile-pin-container {
    min-height: 150px;
    margin-bottom: 15px;    /* space between items */
    break-inside: avoid;    /* prevents items from breaking across columns */
    position: relative;      /* positioning context for overlay and button */
    overflow: hidden;        /* hide overflow so overlay doesn't exceed the image */
}

.profile-pin-container img {
    width: 100%;
    height: auto;
    min-height: 150px;
    display: block;         /* removes space below the image */
    border-radius: 20px;
}

.profile-image-overlay {
    position: absolute;      /* overlay positioned over image */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;              /* hidden */
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    border-radius: 20px;
    overflow: hidden;
}

.profile-pin-container:hover .profile-image-overlay {
    background-color: rgba(0, 0, 0, 0.5); /* grey overlay with 50% opacity */
    opacity: 1;              /* show overlay */
}

.save-button {
    background-color: red;
    color: white;
    margin: 10px;
    padding: 15px 16px;
    font-size: medium;
    border-radius: 25px;
    border: 0px;
    cursor: pointer;
}

.save-button.saved {
    background-color: black
}

.profile-image-overlay .profile-edit-button {
    background-color: white;
    color: black;
    margin: 10px;
    padding: 15px 16px;
    font-size: medium;
    border-radius: 25px;
    border: 0px;
}

.profile-board-grid {
    column-count: 2;
    column-gap: 15px;
    width: 490px;
    margin: 15px auto;
}

.profile-board-container {
    width: 220px;
    overflow: hidden;
}

.profile-board-image-container {
    position: relative;
    border-radius: 15px;
    width: 100%;
    height: 150px;
    background-color: lightgrey;
    overflow: hidden; /* hides anything outside the container */
}

.profile-board-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* image covers the entire container */
}

.profile-board-edit-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    opacity: 0;
    cursor: pointer;
}

.profile-board-image-container:hover .profile-board-edit-button {
    opacity: 1;
}

.profile-board-title-container {
    margin-top: 10px;
    /* text-align: center; */
}

.profile-board-title {
    font-size: larger;
    font-weight: 500;
    margin: 10px 8px
}

.profile-middle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.profile-middle-container > button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.fa-solid {
    font-size: 26px;
}

@media (min-width: 750px) and (max-width: 1009px) {
    .created-grid, .profile-board-grid {
        column-count: 3;
        width: 730px;
    }
}

@media (min-width: 1010px) and (max-width: 1264px) {
    .created-grid, .profile-board-grid {
        column-count: 4;
        width: 990px;
    }
}

@media (min-width: 1265px) and (max-width: 1509px) {
    .created-grid, .profile-board-grid {
        column-count: 5;
        width: 1245px;
    }
}

@media (min-width: 1510px) {
    .created-grid, .profile-board-grid {
        column-count: 6;
        width: 1480px;
    }
}

.landing-save-button.saved {
    background-color: black
}
