.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 25em;
    padding: 2em;
    border-radius: 40em; */
    width: 500px;
    height: 500px;
    border-radius: 40px;
}

.modal .login-modal {
    border-radius: 40px;
    display: flex;
}

/* div #modal-content {
    padding: 1em;
    border-radius: 2em;
} */

.login-form label {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.login-form input {
    width: 20em;
    height: 2em;
    border-radius: 2em;
    margin-bottom: .5em;
    padding: .2em .5em;
}

.errors {
    color: red;
}
