.profile-dropdown {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;

}

.auth-buttons {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.search {
  width: 40em;
  height: 1.55em;
  border-radius: 5em;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-decoration: none;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;

}

.left-nav {
  display: flex;
  gap:2em;
  margin-left: 1em;

}

.profile-menu,
.auth-buttons {
  display: flex;
  gap:2em;
  margin-right: 1em;

}

.nav {
  margin: .5em 0em;
}